.devices__content {
    border-bottom: 5px solid $border-gray;
   .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 4rem 1rem;
   
     h3 {
        font-size: 3rem;
        margin-bottom: 15px;
     }
     p {
        font-size: 1.5rem;
        width: 600px;
     }
    
   }
}