.rodape__container {
    color: $gray-login;
    padding-bottom: 6rem;
    .container {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;

        p {
            a {
                color: $gray-login;;
            }
        }
        .rodape__infos {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            ul {
                list-style: none;
                li {
                    margin-bottom: 1rem;
                    a {
                        color: $gray-login;
                    }
                }
            }
        }
    }
}