.login__footer {
    color: $gray-login;
    padding: 2rem 0 4rem 0;
    .container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
        p {
            a {
                color: $gray-login;
            }
        }
        .login__footer-infos {
            width: 100%;
            display: flex;
            justify-content: space-between;
            ul {
                list-style: none;
                li {
                    margin-bottom: 1rem;
                    a {
                      color: $gray-login;
                    }
                }
            }
        }
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 1;
        background: linear-gradient(180deg, #00000069 0%, rgb(0, 0, 0) 100%);
    }
    
}