* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$red: #C11119;
$white: #fff;
$gray: #e6e6e6;
$border-gray: #232323;
$dark-gray: #1a1914b9;
$gray-hover: #414141;
$background: #000;

body {
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    background-color: $background;
    color: $white;
    padding-bottom: 500rem;
}

img {
    display: block;
    width: 100%;  
}

.container {
    width: 100%;
    max-width: 1295px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    background: $red;
    color: $white;
    padding: 15px 40px;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    
}

.btn:hover {
    background: darken($red, 10%);
}

.header__content-price {
    margin: 20px 0 30px 0;
    font-weight: bold;
    font-size: 1.2rem;
}

form {
    margin-top: 10px;
   
    label {
        display: flex;
        align-items: center;
        gap: .5rem;
    
        .input {
            width: 450px;
            padding: 15px 30px;
            background: $dark-gray;
            color: $gray;
            border-radius: 3px;
            font-size: 18px;
            border: 1px solid $gray;
        }
    }
}

